@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl sm:text-4xl md:text-5xl;
    }

    h2 {
        @apply text-xl sm:text-2xl md:text-3xl;
    }
  
    body {
        @apply text-neutral-200;
    }

    a {
        @apply text-purple-300 hover:text-purple-400 underline;
    }

    button {
        @apply text-purple-300 hover:text-purple-400
    }

    input {
        @apply bg-neutral-700 rounded-md px-2 file:bg-transparent file:text-neutral-200 file:rounded-md file:border-0
    }

    select {
        @apply bg-neutral-700 rounded-md px-2 appearance-none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ccc' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1em;
    }
  }
